.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1466b8;
}

.search-bar {
  width: 300px;
  padding: 8px;
}

.icons {
  display: flex;
  gap: 30px;
}

.products-list {
  display: flex;
  gap: 20px;
  padding: 0.1%;
}
.product {
  width: 25%;
  text-align: center;
}
.logo {
  width: 130px;
  height: auto;
}
.Product-img {
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
}
